﻿@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<br />
<br/>
<b>Information</b>
<p>

The content of this website is subject to change without notice, and we do not guarantee the accuracy, completeness, or reliability of any information provided. Users of this website are solely responsible for any actions they take based on the information found here.
</p>
